version: '3.7'

services:
  chia:
    container_name: chia
    image: ghtsto/chia:latest
    ports:
      - "8444:8444"
    volumes:
      - config:/root/.chia/
      - blockchain:/root/.chia/mainnet/db/
      - keychain:/root/.local/share/python_keyring/
      - wallet:/root/.chia/mainnet/wallet/db/
      # - ./ca:/remote-ca:ro
      # - ./plots:/plots/store1:ro
      # - ./seed.key:/seed.key:ro
    environment:
      - TZ=America/Vancouver
      - FULL_NODE=true
      - FARMER=true
      - HARVESTER=true
      - WALLET=true
      - LOG_LEVEL=INFO
      - REMOTE_HARVESTER=false
      - REMOTE_FARMER_IP=${REMOTE_FARMER_IP}
      - REMOTE_FARMER_PORT=8447

networks:
  default:
    external:
      name: chia

volumes:
  config:
  blockchain:
  keychain:
  wallet: